@media (max-width: 768px){
    #word {
        padding: 0;
        font-size: 2.5rem;
    }
    body {
        font-size: 1.4rem;
    }
    #guess button {
        border-radius: 0;
        padding: 7.5px;
        margin-left: 15px;
    }

    #boneco img {
        top: 90px;
        right: 33%;
        left: 23%;
        position: absolute;
    }

    #difficulty h2 {
        font-size: 1.8rem;
        text-align: center;
        cursor: default;
    }

    #difficulty ul {
        display: flex;
        width: 80%;
        padding: 0;
        list-style: none;
        flex-direction: column;
    }

    label {
        display: flex;
        align-items: center;
    }
    input {
        font-size: 1.2rem;
        align-self: flex-start;
    }
    #guess {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    #guessWordTry {
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
    }
    #guessWordTry button {
        margin-top: 20px;
    }
}