* {
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.001em; /* Largura da barra de rolagem personalizada */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Cor de fundo da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor da barra de rolagem */
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 2rem;
    scrollbar-width: thin; /* Tornar a barra de rolagem visível em navegadores compatíveis */
    scrollbar-color: #888 transparent;
}

nav {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style: none;
}

#icons {
    padding-right: 40px;
}

a {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 1.3rem;
}

a:hover {
    color: rgb(129, 12, 12);
    transition: ease 0.45s;
}

img, p {
    transition: opacity 0.5s;
}

#Title {
    color: aliceblue;
    padding: 50px;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
}


#gameInterface {
    text-align: center;
    padding: 25px;
}

#word {
    padding: 10px;
    font-size: 3rem;
}

#gallow {
    position: relative;
    margin-bottom: 4rem;
}

#boneco img {
    top: 90px;
    right: 50%;
    left: 50%;
    position: absolute;
}

input {
    padding: 2.5px;
    font-size: 1.6rem;
    font-weight: bold;
}

#guess input {
    width: 40px;
    text-align: center;
}

#guess {
    margin: 10px;
}

#reset {
    display: none;
    border-radius: 0;
    width: 100%;
    padding: 30px;
}
#reset:hover {
    display: none;
    background-color: #bc7700;
    border-radius: 0;
    width: 100%;
    padding: 30px;
}

button {
    padding: 15px;
    border-radius: 20px;
    font-size: 0.85rem;
    color: aliceblue;
    border: transparent;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

button:hover{
    background-color: #bfbfbf;
    color: black;
    font-size: 1.2rem;
    transition: ease 0.45s;
}
button:not(:hover) {
    background-color: #8c5c5c;
    transition: ease 0.45s;
}

#white-space {
    height: 95px;
}

#difficulty {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#difficulty ul {
    display: flex;
    width: 100%;
    padding: 0;
    list-style: none;
    flex-direction: column;
}

#difficulty li {
    padding: 40px;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    cursor: pointer;
}

#difficulty li:hover {
    background-color: #bfbfbf;
    color: black;
    font-size: 2.4rem;
    transition: ease 0.45s;
}

section:not(#difficulty){
    display: none;
}

.easy:not(:hover) {
    background-color: rgb(51, 234, 0);
}
.medium:not(:hover) {
    background-color: rgb(200, 223, 0);
}
.hard:not(:hover) {
    background-color: rgb(181, 30, 0);
}

#difficulty li:not(:hover) {
    transition: ease 0.45s;
}

#wrongGuesses {
    /* display: none; */
    padding: 20px;
    margin-bottom: 40px;
    width: fit-content;
    text-align: start;
    margin: 25px auto;
    color: whitesmoke;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.5);
}

#wrongGuesses p {
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
}

footer {
    /* flex-shrink: 0; */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px;
    margin-top: 50px;
    color: aqua;
    text-align: end;
    z-index: 1000;  /* Garante que o footer fique no topo de outros elementos */
    background-color: black;
}